.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.LoginPanel {
  min-height: 100vh;
  width: 40%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 5%;
}
.LoginForm {
  margin: 5px;
}
.LoginLogo {
  float: left;
  width: 50%;
  height: 100vh;
  padding: 15px;
}
.sabit {
  z-index: 9999;
  position: fixed;
  _position: absolute;
  bottom: 0px;
  right: 0px;
  clip: rect(0 100 85 0);
}
.Dashboard {
  width: 100%;
  height: 100vh;
}
.dashdrop {
  margin:25px;
  float:left;
}
.dashdroptoggle {
  width: 343px;
}
.droptext
{
  text-align: left;
  float:left;
  width:90%;
  margin:auto;
}
.account
{
  background-color: red;
  width:100%;
  display:flex;
  flex-direction: column;
}
.otherdiv
{
  width:80%;
  float:left;
}